@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);


body {
  color: #555;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

.content {
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}

code {
  font-family: 'Source Code Pro', 'Menlo', "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-size: 0.8em;
}

.post-footer {
  font-size: 0.7em;
}

